---
title: Lab Notebook 
layout: default

---


<!--
<div class="row feed">
  <div class="col-md-3 col-md-offset-1">
    <h4>  <a property="account" href="https://github.com/{{site.author.github}}" onclick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><i class="icon-github" alt="github"></i> Coding </a></h4> 
    <div class="excerpt">
      <div class="scroll">
        {% github_feed cboettig, 5 %}
      </div>
    </div>
  </div>
</div>
-->

<hr>
<div class="row postpreview">
  <div class="col-md-11 col-md-offset-1">
    <div class="row">
      <h4> <a href="{{ site.url }}/atom.xml"
              onClick="recordOutboundLink(this,
              'Outbound Links', 'RSS'); return false;"
              style="color: inherit;"
              ><i class="icon-rss" ></i> Entries</a></h4>
      {% for post in site.posts limit:3 %}
        <div class="col-md-3">
          {% include postexcerpt.html %}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      {% for post in site.posts limit:3 offset:3 %}
        <div class="col-md-3">
          {% include postexcerpt.html %}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      {% for post in site.posts limit:3 offset:6 %}
        <div class="col-md-3">
          {% include postexcerpt.html %}
        </div>
      {% endfor %}
    </div>

  </div>
</div> <!--end row -->

<div class="row socialicons">
  <div class="col-md-11 col-md-offset-1">
      <p> <a href="{{site.url}}/archive.html"><i class="icon-calendar"></i> All entries by date</a></p> 
      <p> <a href="{{site.url}}/categories.html"><i class="icon-list"></i> All entries by category</a> </p>
      <p> <a href="{{site.url}}/tags.html"><i class="icon-tags"></i> All entries by tag</a> </p>
  </div> <!--end col-md-9 -->
</div> <!--end row -->


